<html>
    <head>
        <title>Goal 2 - Intro to WebSockets with Flask</title>
    </head>

    <body>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

        <form style='height:5%'>
			Raspberry IP:<br>
			<input style:'display:inline' type="text" value='' id='raspIP'>
			<input style:'display:inline' type="button" onclick=raspConnect() value="Connect!">
		</form>

        <h1>
            My high-tech random integer web app
        </h1>
        <p id="random_integer">My random number will appear here.</p>

        <script type="text/javascript" charset="utf-8">
        	// To help you connecting to the RPi, the input form value is populated automatically using the current URL.
			window_url = window.location.href.split(':')[1].substring(2)
			document.getElementById("raspIP").value = window_url

			function raspConnect(){

                // Initialize the socket
                var socket = io(document.getElementById("raspIP").value + ':5000/');

                // This function is called after the socket is initiated
                socket.on('connect', function() {

                    // Upon a successful connection it starts sending data requests periodically to the server
                    // TODO: Emit a 'sendData' event at 1 Hz
                    // Hint: https://socket.io/docs/v4/index.html and https://www.w3schools.com/jsref/met_win_setinterval.asp
                    console.log("DEBUG: A sendData request was sent to the server.");

                });

                // This function reads the server message and updates the random integer in the web page
                socket.on('serverResponse', function(msg) {
                    console.log("DEBUG: A serverResponse was received by the client.");

                    // TODO: Update the random_integer id with the message received by the WebSocket
                    // Hint: https://developer.mozilla.org/en-US/docs/Web/API/Element/innerHTML
                });

                socket.on('connect_error', function (event) {
                    alert('Can not connect to the server.\nIs the raspberry IP correct?\nIs the server running?\nAre you connect to the "PI" network?');
                    console.log('Loss of connection event');
                    clearInterval(interval);
                    socket.close();
                });

            }
        </script>
    </body>
</html>
